.content{
    width: 100vw;
    height: 100vh;

    align-items: center;
    display: flex;
    justify-content:center;
    
}

.hide{
    display: none !important;
}


.login{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items:center;
}